/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url("main.css");

/* Display */

.mainContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: center;
    margin: 3%;
}


/* Month select */

.select {
    font-family: "Manrope", sans-serif;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px 20px;
}

.select td {
    height: 50px;
    width: 100px;
}


/* Main graph */

.container {
    margin: 0;
}

#graphview {
    padding: 0;
}