/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url("main.css");

/* Display */
body {
	background: linear-gradient(
		90deg,
		rgba(174, 77, 238, 0.63) 0%,
		rgba(255, 37, 37, 0.479) 50%,
		rgba(255, 182, 79, 0.514) 100%
	);
}
.mainContent {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	text-align: center;
	padding: 3%;
}

/* Month select */

#select {
	font-family: "Manrope", sans-serif;
	text-align: center;
	width: 20%;
	height: 500px;
	overflow-y: scroll;
	background-color: var(--color-background-card);
	box-shadow: 5px 5px 10px rgba(82, 82, 82, 0.85);
	padding-top: 1%;
}

#select p {
	text-align: left;
	padding-left: 20px;
	line-height: 1;
}

/* Main graph */

#graph {
	font-family: "Manrope", sans-serif;
	text-align: center;
	background-color: var(--color-background-card);
	box-shadow: 5px 5px 10px rgba(82, 82, 82, 0.85);
}

.graphdisplay {
	width: 60%;
}

/* Friends list */

.friendslist ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.friendslist li {
	list-style: none;
}

.friendslist img {
	width: 70px;
	height: auto;
}

.friendslist {
	font-family: "Manrope", sans-serif;
	text-align: left;
	background-color: var(--color-calm);
	padding: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
	background-color: var(--color-background-card);
	box-shadow: 5px 5px 10px rgba(82, 82, 82, 0.85);
}
.footer {
	background-color: var(--color-background-card);
	padding: 1%;
	background-color: rgb(58, 58, 58);
	color: white;
	margin-top: 2%;
}
.navbar2 {
	background-color: rgb(58, 58, 58);
	color: white;
	margin-top: 1.5%;
}
