#easterEgg {
	color: rgba(254, 255, 255, 0);
}
.hideEgg {
	display: none;
}
.walk {
	/* transform: rotateY(180deg); */
	position: relative;
	width: 50px;
	animation-name: move_goose;
	animation-duration: 16s;
	animation-timing-function: ease-in-out;
	z-index: 1;
	margin-bottom: -10%;
}
.eggend {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 5%;
}
/* easter egg css */
@media (min-width: 1280px) {
	.eggend img {
		width: 40%;
	}
	@keyframes move_goose {
		0% {
			left: 0vw;
			top: 0vh;
			width: 50px;
		}
		20% {
			left: 95vw;
			top: 1vh;
			width: 100px;
		}
		40% {
			left: 80vw;
			top: 9vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		50% {
			left: 75vw;
			top: 8vh;
			width: 50px;
			transform: rotateY(180deg);
		}
		65% {
			left: 40vw;
			top: 25vh;
			width: 100px;
		}
		75% {
			left: 30vw;
			top: 10vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		85% {
			left: 2vw;
			top: 50vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		100% {
			left: 0vw;
			top: 0vh;
			width: 100px;
			transform: rotateY(180deg);
		}
	}
}
/* easter egg css */
@media screen and (min-width: 501px) and (max-width: 1279) {
	@keyframes move_goose {
		0% {
			left: 0vw;
			top: 0vh;
			width: 50px;
		}
		20% {
			left: 95vw;
			top: 1vh;
			width: 100px;
		}
		40% {
			left: 80vw;
			top: 9vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		50% {
			left: 75vw;
			top: 8vh;
			width: 50px;
			transform: rotateY(180deg);
		}
		65% {
			left: 30vw;
			top: 25vh;
			width: 100px;
		}
		75% {
			left: 50vw;
			top: 10vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		85% {
			left: 2vw;
			top: 30vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		100% {
			left: 0vw;
			top: 0vh;
			width: 100px;
			transform: rotateY(180deg);
		}
	}
}
/* easter egg css */
@media (max-width: 500px) {
	@keyframes move_goose {
		0% {
			left: 0vw;
			top: 0vh;
			width: 50px;
		}
		20% {
			left: 95vw;
			top: 1vh;
			width: 100px;
		}
		40% {
			left: 80vw;
			top: 9vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		50% {
			left: 75vw;
			top: 8vh;
			width: 50px;
			transform: rotateY(180deg);
		}
		65% {
			left: 30vw;
			top: 25vh;
			width: 100px;
		}
		75% {
			left: 50vw;
			top: 10vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		85% {
			left: 2vw;
			top: 30vh;
			width: 150px;
			transform: rotateY(180deg);
		}
		100% {
			left: 0vw;
			top: 0vh;
			width: 100px;
			transform: rotateY(180deg);
		}
	}
}
